// VARIABLES
// font size
$font-size-mobile: 16px;
$font-size-desktop: 18px;
// background colors
$color-background: #f2f2f2;
$color-background-dark: #0d0d0d;
$color-article: #ffffff;
$color-article-dark: #000000;
// font colors
$color-font: #0d0d0d;
$color-font-dark: #f2f2f2;
$color-underline: #808080;
// shadow colors
$color-shadow: #bfbfbf;
$color-shadow-dark: #000000;
// box shadows
$shadow: 0 5px 15px $color-shadow;
$shadow-dark: 0 5px 15px $color-shadow-dark;
// height and width
$size-preloader: 100px;
$size-author-image: 150px;
// breakpoints
$breakpoint-mobile-small: 375px;
$breakpoint-mobile-medium: 425px;
$breakpoint-mobile-large: 530px;
$breakpoint-tablet-small: 630px;
$breakpoint-desktop: 769px;
// width 
// - max width on desktop
$width-review: 704px;
// height
// - based on longest review text + 10px
$height-review-default: 220px;
$height-review-small: 243px;
$height-review-medium: 171px;
$height-review-medium-mid: 123px;
$height-review-large: 100px;

html, body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: $font-size-mobile;
    font-family: Arial, Helvetica, sans-serif;
    background-color: $color-background;
    color: $color-font;
}

.dark-mode {
    background-color: $color-background-dark;
    color: $color-font-dark;
}

.review {
    padding: 1rem;
    .btn {
        border: none;
        background: transparent;
        padding: 0;
        margin: 0;
        text-align: left;
        cursor: pointer;
        line-height: 0;
        font-size: inherit;
        font-family: inherit;
        color: inherit;
    }
    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
    }
    &__article {
        background-color: $color-article;
        padding: 1rem;
        border-radius: 1rem;
        box-shadow: $shadow;
    }
    &__title {
        text-align: center;
        font-size: 2em;
        margin: .75rem 0 .75rem 0;
    }
    &__title-underline {
        height: .25rem;
        width: 4rem;
        background-color: $color-underline;
    }
    &__img-container {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }
    &__preloader {
        height: $size-preloader;
        width: $size-preloader;
    }
    &__author-img {
        border-radius: 50%;
        height: $size-author-image;
        width: $size-author-image;
    }
    &__author-name, &__author-job, &__author-review {
        text-align: center;
    }
    &__author-name {
        margin: 0 0 .25rem 0;
    }
    &__author-job {
        margin: 0 0 1rem 0;
        font-size: .9em;
        text-transform: uppercase;
    }
    &__author-review {
        margin: 0 0 1rem 0;
        line-height: 1.5rem;
        min-height: $height-review-default;
    }

    &__button-container {
        display: flex;
        justify-content: center;
        column-gap: 2rem;
    }
    &__prev-button.btn, &__next-button.btn {
        display: flex;
        align-items: center;
        padding: .5rem;
    }
    &__icon {
        font-size: 2rem;
    }
}

.dark-mode .review {
    &__article {
        background-color: $color-article-dark;
        box-shadow: $shadow-dark;
    }
}

@media screen and (min-width: $breakpoint-mobile-small) {
    .review {
        padding: 1rem 2rem;
        &__header {
            margin-bottom: 3rem;
        }
        &__article {
            padding: 2rem;
        }
        &__author-job {
            margin-bottom: 2rem;
        }
        &__author-review {
            min-height: $height-review-small;
        }
    }
}

@media screen and (min-width: $breakpoint-mobile-medium) {
    .review {
        &__author-review {
            min-height: $height-review-medium;
        }
    }
}
@media screen and (min-width: $breakpoint-mobile-large) {
    .review {
        &__author-review {
            min-height: $height-review-medium-mid;
        }
    }
}
@media screen and (min-width: $breakpoint-tablet-small) {
    .review {
        &__author-review {
            min-height: $height-review-large;
        }
    }
}

@media screen and (min-width: $breakpoint-desktop) {
    body {
        font-size: $font-size-desktop;
    }
    .review {
        width: $width-review;
        margin: 0 auto;
    }
}